* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #B6FFFA;
}

.container {
  background-color: #80B3FF;
  color: #c30808;
  max-width: 600px;
  width: 90%;
  border: 2px solid transparent;
  border-radius: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 60px;
  text-decoration: dotted;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
}

.description {
  font-size: 1.5rem;
}

label, input {
  margin: 10px 0;
  display: block;
  font-size: 1.2rem;
}

#check-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

#error-message {
  color: red;
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.2rem;
}

.change-table {
  border: 1px solid #000;
  border-collapse: separate;
  border-spacing: 5px;
  margin: 20px auto;
}

.change-table th:first-child, .change-table th:nth-child(2) {
  background-color: #007bff;
  color: white;
  font-size: 1.5rem !important;
}

.change-table td:first-child, .change-table td:nth-child(2) {
  font-size: 1.5rem !important;
}

/* Media query for tablets and larger phones */
@media screen and (max-width: 768px) {
  .container {
      width: 80%;
      font-size: 0.9rem;
  }
}

/* Media query for smaller phones */
@media screen and (max-width: 480px) {
  .container {
      width: 95%;
      font-size: 0.8rem;
  }
}
